<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update Answer</title>
    <style>
        .headBlock {
            padding-left: 10px;
            padding-right: 10px;
        }
        .textBlock {
            padding-left: 20px;
            padding-right: 20px;

        }


    </style>
</head>
<body>
<he th:insert="blocks/header :: header"></he>

<script>
    function Selected(a) {
        var label = a.value;
        if (label=='OneOfSeveral') {
            document.getElementById("Block1").style.display='block';
            document.getElementById("Block2").style.display='none';
            document.getElementById("Block3").style.display='none';
        } else if (label=='ManyOfSeveral') {
            document.getElementById("Block1").style.display='none';
            document.getElementById("Block2").style.display='block';
            document.getElementById("Block3").style.display='none';
        } else if (label=='Text'){
            document.getElementById("Block1").style.display='none';
            document.getElementById("Block2").style.display='none';
            document.getElementById("Block3").style.display='block';
        }

    }
    var x = 0;
    var y = 0;

    function addInput2() {
        if (x < 10) {
            var str = '<input type="text" th:value="${row.answer}"  name="answer" class="textBlock" placeholder="Ответ"> <div id="inputtwo' + (x + 1) + '"></div>';
            document.getElementById('inputtwo' + x).innerHTML = str;
            x++;
        } else
        {
            alert('STOP it!');
        }
    }

    function addInput() {
        if (y < 10) {
            var str = '<input type="text" th:value="${row.answer}"  name="answer" class="textBlock" placeholder="Ответ"> <div id="input' + (y + 1) + '"></div>';
            document.getElementById('input' + y).innerHTML = str;
            y++;
        } else
        {
            alert('STOP it!');
        }
    }
</script>

<div class="headBlock">
    <form th:each="row : ${survey}" th:action="@{/answer/} + ${row.id} + @{/update}" method="post">

        <!--        <p>Введите заголовок</p>-->
        <input type="text" th:value="${row.title}" name="title" class="textBlock" placeholder="Заголовок"><br>
        <!--        <p>Введите описание</p>-->
        <input type="text" th:value="${row.label}" name="label" class="textBlock" placeholder="Описание"><br>
        <!--        <p>Введите вопрос</p>-->
        <input type="text" th:value="${row.question}" name="question" class="textBlock" placeholder="Вопрос"><br>
        <input type="date" th:value="${row.endDate}" name="endDate" class="textBlock" >
        <p>Выберите тип ответа</p>
        <select id="type" th:value="${row.types}" class="Validate_Required " name="types" aria-required="true" onChange="Selected(this)">
            <option value="" selected="selected">Тип</option>
            <option value="OneOfSeveral" name="OneOfSeveral">Один из многих</option>
            <option value="ManyOfSeveral" name="ManyOfSeveral">Несколько из многих</option>
            <option value="Text" name="Text">Текст</option>
        </select>

        <div  id='Block1' style='display: none;'>
            <div al-repeat="i in count" >
                <input type="text" th:value="${row.answer}" name="answer" class="textBlock" placeholder="Ответ">
                <div id="input0"></div>
                <input type="button" class="add" onclick="addInput()" value="+">
            </div>
        </div>

        <div  id='Block2' style='display: none;'>
            <div al-repeat="i in count">
                <input type="text" th:value="${row.answer}"  name="answer" class="textBlock" placeholder="Ответ">
                <div id="inputtwo0"></div>
                <input type="button" class="add" onclick="addInput2()" value="+">
            </div>
        </div>

        <div  id='Block3' style='display: none;'>
        </div>

        <button type="submit" class="btn btn-success" >add</button>
    </form>
</div>

</body>
</html>