<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-secutity">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <style>
        .headBlock {
            padding-left: 10px;
            padding-right: 10px;
        }
        .textBlock {
            padding-left: 20px;
            padding-right: 20px;

        }
        .textTitle {
            font-weight: bold;
        }


    </style>

</head>
<body>

<he th:insert="blocks/header :: header"></he>



</body>
</html>