<div class="headBlock" th:fragment="header" xmlns:sec="http://www.thymeleaf.org/extras/spring-secutity">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="/answer" class="nav-link px-2 link-secondary">Answer</a></li>
        </ul>

        <div  class="col-md-3 text-end" >
            <div sec:authorize="!isFullyAuthenticated()">
                <form th:action="@{/login}">
                    <input type="submit" class="btn btn-outline-primary me-2" value="Login" >
                </form>
            </div>

            <div sec:authorize="isFullyAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <input type="submit" class="btn btn-danger" value="Logout">
                </form>
            </div>
        </div>
    </header>
</div>